<!--   <div class="graph">
    <div class="graph1 left">
      <div class="graphheadertext">Revenue</div>
      <div id="chart1"></div>
    </div>
    <div class="graph2 right">
      <div class="graphheadertext">Quality</div>
      <div class="graph2text"> </div>
      <div id="chart2"></div>
    </div>
  </div> -->
  <style type="text/css">

#dock {
    background: url("/assets/dock_bg.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 155px;
    left: -17px;
    margin-bottom: 46px;
    position: relative;
    width: 990px;
}

#icons {
    bottom: 80px;
position: static;
    text-align: center;
    width: 100%;
}
#icons img {
    margin: 0 18px;
    padding: 27px;
    width: 82px;
}
#topmenu {
    background: url("/assets/menu_bg.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 38px;
    margin: 10px 0 11px;
    width: 960px;
}

.login_link {
    color: #000000;
    margin: 6px;
    text-decoration: none;
}
  </style>

<div style="margin-top:10px;">
<div id="dock">
  <div id="icons">
         <%= link_to image_tag("01.svg", :border => 0), design_campaign_path%>         
        <%= link_to image_tag("02.svg", :border => 0), kpi_finder_path%>
               <%= link_to image_tag("03.svg", :border => 0), create_dashboard_path%>
        <a href="#"><img src="/assets/04.svg" alt="" /></a>
        <a href="#"><img src="/assets/05.svg" alt="" /></a>
       
    </div>  
</div>
<div id="topmenu">
  <ul>
    <li class="first"><a href="#" class="active">Campaign1</a></li>

    <li><a href="#">Option Text</a></li>
    <li><a href="#">Option Text</a></li>
    <li><a href="#">Option Text</a></li>
    <li><a href="#">Option Text</a></li>
    <li class="last"><a href="#">Option Text </a></li>
  </ul>
 
</div>
 <ul class="tabButtons">
      <li class="active"><a href="#" class="tab1link">Online Display</a></li>
      <li><a href="#" class="tab2link">Execuitve</a></li>
    </ul>
 <div id="tab1" style="height:1600px;">
   <div style="width:650px;height:45px;">
<div style="float:left;font-size:12px;width:348px;">
  <p>Date Range: 1 Jan 2014 – 31 March 2014</p>
<p>Nature of Reporting - Rolling | Fixed</p>
</div>
<div style="float:left;font-size:12px;">
  <p>Date Range: 1 Jan 2014 – 31 March 2014</p>
<p>Granularity – Days | Weeks | Months | Quarterly</p>
<p>Nature of Reporting - Rolling | Fixed</p>
</div>
</div>


<div style="width:958px;padding-bottom:9px;height:325px;background-color:#ffffff;">
<div style="width:650px;float:left;">
    <div style="float:left;height:250px;background-color:#D9D9D9;width:45px;"> 
      <div style="background-color:#93CDDD;width:35px;font-size:13px;margin-right:5px;margin-left:5px;text-align:center;color:#ffffff; margin-top: 15px;
    padding-top: 10px;height:25px;" >
      </div>
         <div style="background-color:#93CDDD;width:35px;font-size:13px;margin-right:5px;margin-left:5px;text-align:center;color:#ffffff; margin-top: 15px;
    padding-top: 10px;height:25px;" >
      </div>
       <div style="background-color:#93CDDD;width:35px;font-size:13px;margin-right:5px;margin-left:5px;text-align:center;color:#ffffff; margin-top: 15px;
    padding-top: 10px;height:25px;" >
      </div>
       <div style="background-color:#93CDDD;width:35px;font-size:13px;margin-right:5px;margin-left:5px;text-align:center;color:#ffffff; margin-top: 15px;
    padding-top: 10px;height:25px;" >
      </div>
       <div style="background-color:#93CDDD;width:35px;font-size:13px;margin-right:5px;margin-left:5px;text-align:center;color:#ffffff; margin-top: 15px;
    padding-top: 10px;height:25px;" >
      </div>
     
    </div>


<div style="float:left;">
 <div style="padding-right:20px;padding-left:10px;"> <div id="graph1" style="border:1px solid black;"></div></div><br/>
  <div style="padding-right:20px;padding-left:10px;"> <div id="graph2" style="border:1px solid black;"></div></div><br/>
  <div style="padding-right:20px;padding-left:10px;"> <div id="graph3" style="border:1px solid black;"></div></div><br/>
    <div style="padding-right:20px;padding-left:10px;"> <div id="graph4" style="border:1px solid black;"></div></div><br/>


</div>
</div>

<div style="float:left;width:308px;">    


<div style="background-color:#D9D9D9;border:1px solid #948a54;font-family:Verdana,Arial,Helvetica,sans-serif; font-size: 14px; ">
<h3 style="background-color:#5C5443;clear:both;font-size:12px;color:#ffffff;margin:0px;text-align:center">Insights</h3>
 <marquee onmouseout="this.start();" onmouseover="this.stop();" direction="up" behavior="scroll">* Campaign 6 has the 3rd highest CTR% of 2.5%.<br>
    * Campaign 10 has the 2nd highest ROI % of 193.4%.<br>
  * Campaign 4 has the highest New Registration of 3343.<br>
  * Campaign 10 has the 3rd highest Sales Value of $538,914.<br>
  * Campaign 7 has the 2nd highest New Registration of 3303. <br>
  * Campaign 10 has the 3rd highest New Registration of 3301.
 </marquee>
 </div>
<div style="background-color:#D9D9D9;margin-left:13px"> <p style="background-color:#D9D9D9;float:left;width:87px;font-size:13px;margin-right:14px;text-align:center;color:#ffffff; margin-top: 5px;
    padding-top: 10px;height:25px;"> <a href="#deliverykpi" class="login_link">Share</a></p><p href="#responsekpi" style="float:left;width:87px;background-color:#D9D9D9;text-align:center;font-size:13px;text-align:center;color:#ffffff;margin-right:13px;margin-top: 5px;
    padding-top: 10px;height:25px;"><a href="#responsekpi" class="login_link">Export</a></p>
  <p href="#responsekpi" style="float:left;width:83px;background-color:#D9D9D9;text-align:center;font-size:13px;text-align:center;color:#ffffff;margin-top: 5px;
    padding-top: 10px;height:25px;"><a href="#responsekpi" class="login_link">Print</a></p>

</div>
     <div style="padding-right:20px;padding-left:10px;"> <div id="pie1" style="border:1px solid white;"></div></div><br/>
     <div style="padding-right:20px;padding-left:10px;"> <div id="pie2" style="border:1px solid white;"></div></div><br/>
         <div style="padding-right:20px;padding-left:10px;"> <div id="pie3" style="border:1px solid white;"></div></div><br/>
 </div>
</div>

  
</div>   
      <div class="clear"></div>
    </div>
    <!--tab 1 ends-->

    <!--tab 2 starts-->
    <div id="tab2" >
      <div id="processFlow">
         <div style="width:650px;height:45px;">
<div style="float:left;font-size:12px;width:348px;">
  <p>Date Range: 1 Jan 2014 – 31 March 2014</p>
<p>Nature of Reporting - Rolling | Fixed</p>
</div>
<div style="float:left;font-size:12px;">
  <p>Date Range: 1 Jan 2014 – 31 March 2014</p>
<p>Granularity – Days | Weeks | Months | Quarterly</p>
<p>Nature of Reporting - Rolling | Fixed</p>
</div>
</div>


<div style="width:958px;padding-bottom:9px;height:325px;background-color:#ffffff;">
<div style="width:650px;float:left;">
    <div style="float:left;height:250px;background-color:#D9D9D9;width:45px;"> 
      <div style="background-color:#93CDDD;width:35px;font-size:13px;margin-right:5px;margin-left:5px;text-align:center;color:#ffffff; margin-top: 15px;
    padding-top: 10px;height:25px;" >
      </div>
         <div style="background-color:#93CDDD;width:35px;font-size:13px;margin-right:5px;margin-left:5px;text-align:center;color:#ffffff; margin-top: 15px;
    padding-top: 10px;height:25px;" >
      </div>
       <div style="background-color:#93CDDD;width:35px;font-size:13px;margin-right:5px;margin-left:5px;text-align:center;color:#ffffff; margin-top: 15px;
    padding-top: 10px;height:25px;" >
      </div>
       <div style="background-color:#93CDDD;width:35px;font-size:13px;margin-right:5px;margin-left:5px;text-align:center;color:#ffffff; margin-top: 15px;
    padding-top: 10px;height:25px;" >
      </div>
       <div style="background-color:#93CDDD;width:35px;font-size:13px;margin-right:5px;margin-left:5px;text-align:center;color:#ffffff; margin-top: 15px;
    padding-top: 10px;height:25px;" >
      </div>
     
    </div>


<div style="float:left;">
 <div style="padding-right:20px;padding-left:10px;"> <div id="execuitive1" style="border:1px solid black;"></div></div><br/>
 <div style="padding-right:20px;padding-left:10px;"> <div id="execuitive2" style="border:1px solid black;"></div></div><br/>
  <div style="padding-right:20px;padding-left:10px;"> <div id="execuitive3" style="border:1px solid black;"></div></div><br/>

</div>
</div>

<div style="float:left;width:308px;">    


<div style="background-color:#D9D9D9;border:1px solid #948a54;font-family:Verdana,Arial,Helvetica,sans-serif; font-size: 14px; ">
<h3 style="background-color:#5C5443;clear:both;font-size:12px;color:#ffffff;margin:0px;text-align:center">Insights</h3>
 <marquee onmouseout="this.start();" onmouseover="this.stop();" direction="up" behavior="scroll">* Campaign 6 has the 3rd highest CTR% of 2.5%.<br>
    * Campaign 10 has the 2nd highest ROI % of 193.4%.<br>
  * Campaign 4 has the highest New Registration of 3343.<br>
  * Campaign 10 has the 3rd highest Sales Value of $538,914.<br>
  * Campaign 7 has the 2nd highest New Registration of 3303. <br>
  * Campaign 10 has the 3rd highest New Registration of 3301.
 </marquee>
 </div>
<div style="background-color:#D9D9D9;margin-left:13px"> <p style="background-color:#D9D9D9;float:left;width:87px;font-size:13px;margin-right:14px;text-align:center;color:#ffffff; margin-top: 5px;
    padding-top: 10px;height:25px;"> <a href="#deliverykpi" class="login_link">Share</a></p><p href="#responsekpi" style="float:left;width:87px;background-color:#D9D9D9;text-align:center;font-size:13px;text-align:center;color:#ffffff;margin-right:13px;margin-top: 5px;
    padding-top: 10px;height:25px;"><a href="#responsekpi" class="login_link">Export</a></p>
  <p href="#responsekpi" style="float:left;width:83px;background-color:#D9D9D9;text-align:center;font-size:13px;text-align:center;color:#ffffff;margin-top: 5px;
    padding-top: 10px;height:25px;"><a href="#responsekpi" class="login_link">Print</a></p>

</div>

 <div style="padding-right:20px;padding-left:10px;"> <div id="Executivepie1" style="border:1px solid white;"></div></div><br/>
     <div style="padding-right:20px;padding-left:10px;"> <div id="Executivepie2" style="border:1px solid white;"></div></div><br/>
         <div style="padding-right:20px;padding-left:10px;"> <div id="Executivepie3" style="border:1px solid white;"></div></div><br/>
     
 </div>
</div>

  
</div>   
      <div class="clear"></div>
    
    
      </div>
      <div class="clear"></div>
    </div>
    <!--tab 2 ends-->
    <div class="clear"></div>


