<!--   <div class="graph">
    <div class="graph1 left">
      <div class="graphheadertext">Revenue</div>
      <div id="chart1"></div>
    </div>
    <div class="graph2 right">
      <div class="graphheadertext">Quality</div>
      <div class="graph2text"> </div>
      <div id="chart2"></div>
    </div>
  </div> -->
  <style type="text/css">

#dock {
    background: url("/assets/dock_bg.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 155px;
    left: -17px;
    margin-bottom: 46px;
    position: relative;
    width: 990px;
}

#icons {
    bottom: 80px;
position: static;
    text-align: center;
    width: 100%;
}
#icons img {
    margin: 0 18px;
    padding: 27px;
    width: 82px;
}
#topmenu {
    background: url("/assets/menu_bg.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 38px;
    margin: 10px 0 11px;
    width: 960px;
}
  </style>

<div style="margin-top:10px;">
<div id="dock">
  <div id="icons">
        <%= link_to image_tag("01.svg", :border => 0), design_campaign_path%>     
        <%= link_to image_tag("02.svg", :border => 0), kpi_finder_path%>
           <%= link_to image_tag("03.svg", :border => 0), create_dashboard_path%>
        <a href="#"><img src="/assets/04.svg" alt="" /></a>
        <a href="#"><img src="/assets/05.svg" alt="" /></a>
       
    </div>  
</div>
<div id="topmenu">
  <ul>
    <li class="first"><a href="#" class="active">Design</a></li>

    <li><a href="#">Option Text</a></li>
    <li><a href="#">Option Text</a></li>
    <li><a href="#">Option Text</a></li>
    <li><a href="#">Option Text</a></li>
    <li class="last"><a href="#">Option Text </a></li>
  </ul>
 
</div>
<div>
<img width="959"  height="546"src="/assets/design_campaign.png" alt="Digi-Sight KPI Finder" />
</div>

</div>