  <div class="graph">
    <div class="graph1 left">
      <div class="graphheadertext">Revenue</div>
      <div id="chart1"></div>
    </div>
    <div class="graph2 right">
      <div class="graphheadertext">Quality</div>
      <div class="graph2text"> </div>
      <div id="chart2"></div>
    </div>
  </div>

<div style="margin-top:10px;">
<img src="/assets/kpi_finder.png" alt="Digi-Sight KPI Finder" />
</div>